@import url("./normalize.css");
@import url("./global.css");
@import url("./slick.css");
.header {
  height: 560px;
  background-color: #F4EFF3;
  position: relative;
}
.header__flower-img--left {
  position: absolute;
  left: 0;
  transform: rotate(180deg) translateY(-100px);
}
.header__flower-img--right {
  position: absolute;
  right: 0;
  transform: translateY(-100px);
}
.header__name {
  padding: 40px 0 0 50px;
}
.header__content {
  display: flex;
  justify-content: center;
}
.header__img-avatar {
  width: 560px;
  height: 560px;
  border-radius: 50%;
}
.header__content-img {
  position: relative;
  transform: translateY(20px);
}
.header__content-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #353434;
  right: -35px;
}

.about {
  text-align: center;
}
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__title {
  margin: 260px 0 50px 0;
}
.about__text {
  max-width: 1100px;
}

.skills__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills__title {
  margin: 260px 0 50px 0;
}
.skills__progress-list {
  display: flex;
  gap: 80px;
  align-items: flex-start;
}
.skills__progress-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.skills__progress-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
.skills__progress-bar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: #353434;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(closest-side, #EDE6DE 80%, transparent 0 99.9%, #EDE6DE 0), conic-gradient(#F4EFF3 calc(var(--value) * 1%), #d4c8b8 0);
  font-size: 32px;
}
.skills__progress-bar::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
}

.experience__content {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
}
.experience__education, .experience__work {
  position: relative;
}
.experience h1 {
  margin-bottom: 20px;
}
.experience h3 {
  margin-bottom: 5px;
}
.experience__education-line {
  width: 5px;
  height: 780px;
  background-color: #353434;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 220px;
  top: 110px;
}
.experience__work-line {
  width: 5px;
  height: 500px;
  background-color: #353434;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 350px;
  top: 110px;
}
.experience__education-about--title, .experience__work-about--title {
  max-width: 300px;
}
.experience__education-date, .experience__work-date {
  width: 180px;
  text-align: center;
}
.experience__education-ellipse, .experience__work-ellipse {
  width: 20px;
  height: 20px;
  background-color: #353434;
  border-radius: 50%;
  transform: translateX(-7px);
}
.experience__education-timeline, .experience__work-timeline {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.experience__work-info, .experience__education-info {
  display: flex;
  gap: 100px;
}
.experience__work-date, .experience__education-date {
  white-space: nowrap;
  font-size: 20px;
  line-height: 24px;
  padding: 8px 20px;
  background-color: #F4EFF3;
  max-height: 40px;
  border-radius: 50px;
}
.experience p {
  max-width: 312px;
}

.diploma__content-title {
  text-align: center;
  margin: 150px 0 50px 0;
}
.diploma__content-slide {
  width: 420px;
  height: 515px;
  background-color: #F4EFF3;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.diploma__content-slider {
  display: flex;
  gap: 20px;
}
.diploma .slick-track {
  display: flex;
  gap: 20px;
}
.diploma .slick-arrow {
  background: transparent;
  border: none;
  font-size: 0px;
  width: 55px;
  height: 30px;
  position: relative;
}
.diploma .slick-arrow::after {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  background-image: url(../assets/icons/arrow.svg);
  background-repeat: no-repeat;
}
.diploma .slick-prev {
  transform: rotate(180deg);
}
.diploma .slick-prev::after {
  top: -280px;
  left: 30px;
}
.diploma .slick-next::after {
  top: 280px;
  right: -70px;
}

.info__content {
  display: flex;
  justify-content: space-between;
  margin-top: 240px;
  gap: 130px;
}
.info__languages-progress {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.info__content-languages, .info__content-about {
  width: 100%;
}
.info__content-about--title, .info__languages-title {
  margin-bottom: 50px;
}
.info__content-about--info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.info__content-item--text {
  max-width: 530px;
}
.info__languages-progress--head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.info__languages-progress--bar {
  width: 100%;
  height: 20px;
  background-color: #d4c8b8;
  border-radius: 40px;
  position: relative;
}
.info__languages-progress--bar::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 90%;
  height: 100%;
  background-color: #F4EFF3;
  border-radius: 40px;
}
.info__languages-progress--bar.ro::after {
  width: 20%;
}
.info__languages-progress--bar.ru::after {
  width: 50%;
}
.info__languages-progress--bar.de::after {
  width: 40%;
}
.info__languages-progress--bar.en::after {
  width: 30%;
}
.info__content-about--info {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.info__content-item--title {
  margin-bottom: 6px;
}

.gallery__content {
  display: grid;
  width: 100%;
  height: 730px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 300px);
  gap: 15px;
}
.gallery__content-title {
  margin-bottom: 50px;
  margin-top: 200px;
  text-align: center;
}
.gallery__content-item {
  background-color: #F4EFF3;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.gallery__content-item:nth-child(1) {
  grid-row: 1/3;
}
.gallery__content-item:nth-child(5) {
  grid-row: 2/4;
  grid-column: 3;
}
.gallery__content-item:nth-child(4) {
  grid-column: 2;
}
.gallery__content-item:nth-child(7) {
  grid-column: 2;
}/*# sourceMappingURL=style.css.map */