@import url("./normalize.css");
@import url("./global.css");
@import url("./slick.css");
$mainColor: #F4EFF3;
$bgColor: #EDE6DE;
$textColor: #353434;
$progressColor: #d4c8b8;


.header {
    height: 560px;
    background-color: $mainColor;
    position: relative;

    &__flower-img--left {
        position: absolute;
        left: 0;
        transform: rotate(180deg) translateY(-100px);
    }

    &__flower-img--right {
        position: absolute;
        right: 0;
        transform: translateY(-100px);
    }


    &__name {
        padding: 40px 0 0 50px;
    }


    &__content {
        display: flex;
        justify-content: center;
    }

    &__img-avatar {
        width: 560px;
        height: 560px;
        border-radius: 50%;
    }

    &__content-img {
        position: relative;
        transform: translateY(20px);

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 1px solid $textColor;
            right: -35px;
        }
    }
}

.about {
    text-align: center;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        // margin-top: 260px;
        // margin-bottom: 50px;
        margin: 260px 0 50px 0;
    }

    &__text {
        max-width: 1100px;
    }
}

.skills {
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        margin: 260px 0 50px 0;
    }

    &__progress-list {
        display: flex;
        gap: 80px;
        align-items: flex-start;
    }

    &__progress-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__progress-title {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }


    &__progress-bar {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        color: $textColor;
        display: flex;
        align-items: center;
        justify-content: center;
        background:
            radial-gradient(closest-side, $bgColor 80%, transparent 0 99.9%, $bgColor 0),
            conic-gradient($progressColor calc(var(--value) * 1%), $mainColor 0);
        font-size: 32px;

        &::before {
            counter-reset: percentage var(--value);
            content: counter(percentage) '%';
        }
    }
}

.experience {
    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 160px;
    }

    &__education,
    &__work {
        position: relative;
    }

    h1 {
        margin-bottom: 20px;
    }

    h3 {
        margin-bottom: 5px;
    }

    &__education-line {
        width: 5px;
        height: 780px;
        background-color: $textColor;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        left: 220px;
        top: 110px;
    }

    &__work-line {
        width: 5px;
        height: 500px;
        background-color: $textColor;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        right: 350px;
        top: 110px;
    }

    &__education-about--title,
    &__work-about--title {
        max-width: 300px;
    }

    &__education-date,
    &__work-date {
        width: 180px;
        text-align: center;
    }

    &__education-ellipse,
    &__work-ellipse {
        width: 20px;
        height: 20px;
        background-color: $textColor;
        border-radius: 50%;
        transform: translateX(-7px);
    }

    &__education-timeline,
    &__work-timeline {
        display: flex;
        flex-direction: column;
        gap: 44px;
    }

    &__work-info,
    &__education-info {
        display: flex;
        gap: 100px;
    }

    &__work-date,
    &__education-date {
        white-space: nowrap;
        font-size: 20px;
        line-height: 24px;
        padding: 8px 20px;
        background-color: $mainColor;
        max-height: 40px;
        border-radius: 50px;
    }

    p {
        max-width: 312px;
    }
}

.diploma {
    &__content-title {
        text-align: center;
        margin: 150px 0 50px 0;
    }

    &__content-slide {
        width: 420px;
        height: 515px;
        background-color: $mainColor;
        border: 2px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
    }

    &__content-slider {
        display: flex;
        gap: 20px;
    }

    .slick-track {
        display: flex;
        gap: 20px;
    }

    .slick-arrow {
        background: transparent;
        border: none;
        font-size: 0px;
        width: 55px;
        height: 30px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 55px;
            height: 55px;
            background-image: url(../assets/icons/arrow.svg);
            background-repeat: no-repeat;
        }
    }

    .slick-prev {
        transform: rotate(180deg);

        &::after {
            top: -280px;
            left: 30px;

        }
    }

    .slick-next {
        &::after {
            top: 280px;
            right: -70px;

        }
    }
}

.info {
    &__content {
        display: flex;
        justify-content: space-between;
        margin-top: 240px;
        gap: 130px;
    }

    &__languages-progress {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    &__content-languages,
    &__content-about {
        width: 100%;
    }

    &__content-about--title,
    &__languages-title {
        margin-bottom: 50px;
    }

    &__content-about--info {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__content-item--text {
        max-width: 530px;
    }

    &__languages-progress--head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__languages-progress--bar {
        width: 100%;
        height: 20px;
        background-color: $mainColor;
        border-radius: 40px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 90%;
            height: 100%;
            background-color: $progressColor;
            border-radius: 40px;
        }

        &.ro::after {
            width: 100%;
        }

        &.ru::after {
            width: 80%;
        }

        &.de::after {
            width: 60%;
        }

        &.en::after {
            width: 40%;
        }

    }

    &__content-about--info {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    &__content-item--title {
        margin-bottom: 6px;
    }
}

.gallery {

    &__content {
        display: grid;
        width: 100%;
        height: 730px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 300px);
        gap: 15px;
    }

    &__content-title {
        margin-bottom: 50px;
        margin-top: 200px;
        text-align: center;

    }

    &__content-item {
        background-color: $mainColor;
        width: 100%;
        height: 100%;
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 48px;
        object-fit: cover;
        object-position: center;


        &:nth-child(1) {
            grid-row: 1 / 3;
        }

        &:nth-child(5) {
            grid-row: 2/4;
            grid-column: 3;
        }

        &:nth-child(4) {
            grid-column: 2;
        }

        &:nth-child(7) {
            grid-column: 2;

        }
    }

}


.letter {
    margin-top: 400px;

    &__title {
        text-align: center;
        margin-bottom: 50px;
        margin-top: 200px;
    }

    &__items {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__wrapper {
        background: var(--bg-envelope-color);
        width: 800px;
    }

    &__envelope {
        position: relative;
        width: 800px;
        height: 230px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            z-index: 2;
            border-top: 250px solid var(--envelope-tab);
            border-right: 400px solid transparent;
            border-left: 400px solid transparent;
            transform-origin: top;
            transition: all 0.5s ease-in-out 0.5s;
        }

        &::after {
            content: "";
            position: absolute;
            z-index: 2;
            width: 0px;
            height: 0px;
            border-top: 230px solid transparent;
            border-right: 400px solid var(--envelope-cover);
            border-bottom: 200px solid var(--envelope-cover);
            border-left: 400px solid var(--envelope-cover);
        }
    }

    &__content {
        position: absolute;
        left: 0;
        cursor: pointer;
        height: 350px;
        background: #fff;
        text-align: center;
        transition: all 0.8s ease-in-out;
        padding: 20px 10px;
        bottom: -120px;
    }

    &__wrapper.flap &__envelope::before {
        transform: rotateX(180deg);
        z-index: 0;
    }

    &__wrapper.flap &__content {
        bottom: 0;
        transition-delay: 0.8s;
    }

    &__text {
        text-align: left;
        font-size: 10px;

        p {
            margin-top: 20px;
        }

    }

    &__overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9;
        opacity: 0;
        pointer-events: none;
        transition: all .3s linear;

        &.active {
            opacity: 1;
            pointer-events: initial;
            transition: all .3s linear;
        }
    }

    &__popup {
        position: relative;
        background-color: #fff;
        padding: 100px 40px;
    }

    &__popup-close {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 50%;
        right: -15px;
        top: -15px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.05);
        cursor: pointer;
    }
}

:root {
    --bg-envelope-color: #f5edd1;
    --envelope-tab: #ecdeb8;
    --envelope-cover: #e6cfa7;
}

.footer {
    margin-top: 400px;
    background-color: $mainColor;
    height: 560px;
    overflow: hidden;
    position: relative;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__content-img {
        transform: rotate(180deg);
        position: absolute;
        height: 560px;
        left: 0;
        bottom: 0;
    }

&__content-clock{
    margin-top: 200px;
}

    &__content-links {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 100px;
        gap: 300px;


    }

    &__follow-title,
    &__contact-title {
        font-weight: 300;
        margin-bottom: 40px;
    }

    &__follow-links,
    &__contact-links {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    &__follow-link,
    &__contact-link {
        display: flex;
        gap: 20px;
        align-items: center;

    }

    &__follow-link--icon,
    &__contact-link--icon {
        width: 50px;
        height: 50px;
        background-color: $bgColor;
        border-radius: 50%;
    }
}