@import url("./normalize.css");
@import url("./global.css");
.header {
  height: 560px;
  background-color: #F4EFF3;
  position: relative;
}
.header__flower-img--left {
  position: absolute;
  left: 0;
  transform: rotate(180deg) translateY(-100px);
}
.header__flower-img--right {
  position: absolute;
  right: 0;
  transform: translateY(-100px);
}
.header__name {
  padding: 40px 0 0 50px;
}
.header__content {
  display: flex;
  justify-content: center;
}
.header__img-avatar {
  width: 560px;
  height: 560px;
  border-radius: 50%;
}
.header__content-img {
  position: relative;
  transform: translateY(20px);
}
.header__content-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #353434;
  right: -35px;
}

.about {
  text-align: center;
}
.about__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__title {
  margin: 260px 0 50px 0;
}
.about__text {
  max-width: 1100px;
}

.skills__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills__title {
  margin: 260px 0 50px 0;
}
.skills__progress-list {
  display: flex;
  gap: 80px;
  align-items: flex-start;
}
.skills__progress-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.skills__progress-title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}
.skills__progress-bar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  color: #353434;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(closest-side, #EDE6DE 80%, transparent 0 99.9%, #EDE6DE 0), conic-gradient(#d4c8b8 calc(var(--value) * 1%), #F4EFF3 0);
  font-size: 32px;
}
.skills__progress-bar::before {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
}

.experience__content {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
}
.experience__education, .experience__work {
  position: relative;
}
.experience h1 {
  margin-bottom: 20px;
}
.experience h3 {
  margin-bottom: 5px;
}
.experience__education-line {
  width: 5px;
  height: 780px;
  background-color: #353434;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 220px;
  top: 110px;
}
.experience__work-line {
  width: 5px;
  height: 500px;
  background-color: #353434;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 350px;
  top: 110px;
}
.experience__education-about--title, .experience__work-about--title {
  max-width: 300px;
}
.experience__education-date, .experience__work-date {
  width: 180px;
  text-align: center;
}
.experience__education-ellipse, .experience__work-ellipse {
  width: 20px;
  height: 20px;
  background-color: #353434;
  border-radius: 50%;
  transform: translateX(-7px);
}
.experience__education-timeline, .experience__work-timeline {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.experience__work-info, .experience__education-info {
  display: flex;
  gap: 100px;
}
.experience__work-date, .experience__education-date {
  white-space: nowrap;
  font-size: 20px;
  line-height: 24px;
  padding: 8px 20px;
  background-color: #F4EFF3;
  max-height: 40px;
  border-radius: 50px;
}
.experience p {
  max-width: 312px;
}

.diploma__content {
  position: relative;
}
.diploma__content-title {
  text-align: center;
  margin: 150px 0 50px 0;
}
.diploma__content-slide {
  height: 515px;
  min-width: 400px;
  background-color: #F4EFF3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  transition: all 0.3s linear;
  -o-object-fit: cover;
     object-fit: cover;
}
.diploma__content-slider {
  display: flex;
  gap: 20px;
  transition: all 0.3s linear;
  width: 100%;
}
.diploma__content-wrapper {
  overflow: hidden;
}
.diploma__slider-next:disabled, .diploma__slider-prev:disabled {
  opacity: 0.3;
  pointer-events: none;
}
.diploma__slider-next, .diploma__slider-prev {
  cursor: pointer;
  font-size: 32px;
  position: absolute;
}
.diploma__slider-next svg, .diploma__slider-prev svg {
  width: 40px;
  height: 40px;
}
.diploma__slider-next {
  right: -40px;
  top: 55%;
}
.diploma__slider-prev {
  left: -60px;
  top: 55%;
  transform: rotate(180deg);
}

.info__content {
  display: flex;
  justify-content: space-between;
  margin-top: 240px;
  gap: 130px;
}
.info__languages-progress {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.info__content-languages, .info__content-about {
  width: 100%;
}
.info__content-about--title, .info__languages-title {
  margin-bottom: 50px;
}
.info__content-about--info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.info__content-item--text {
  max-width: 530px;
}
.info__languages-progress--head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.info__languages-progress--bar {
  width: 100%;
  height: 20px;
  background-color: #F4EFF3;
  border-radius: 40px;
  position: relative;
}
.info__languages-progress--bar::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 90%;
  height: 100%;
  background-color: #d4c8b8;
  border-radius: 40px;
}
.info__languages-progress--bar.ro::after {
  width: 100%;
}
.info__languages-progress--bar.ru::after {
  width: 80%;
}
.info__languages-progress--bar.de::after {
  width: 60%;
}
.info__languages-progress--bar.en::after {
  width: 40%;
}
.info__content-about--info {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.info__content-item--title {
  margin-bottom: 6px;
}
.info__content-link {
  border-bottom: 1px solid #353434;
  display: inline-block;
  margin-top: 5px;
  font-size: 24px;
}

.gallery__content {
  display: grid;
  width: 100%;
  height: 730px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 300px);
  gap: 15px;
}
.gallery__content-title {
  margin-bottom: 50px;
  margin-top: 200px;
  text-align: center;
}
.gallery__content-item {
  background-color: #F4EFF3;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.gallery__content-item:nth-child(1) {
  grid-row: 1/3;
}
.gallery__content-item:nth-child(3) {
  -o-object-position: center -120px;
     object-position: center -120px;
}
.gallery__content-item:nth-child(5) {
  grid-row: 2/4;
  grid-column: 3;
}
.gallery__content-item:nth-child(4) {
  grid-column: 2;
}
.gallery__content-item:nth-child(7) {
  grid-column: 2;
}

.letter {
  margin-top: 400px;
}
.letter__title {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 200px;
}
.letter__items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.letter__wrapper {
  background: #f5edd1;
  width: 800px;
  cursor: default;
}
.letter__envelope {
  position: relative;
  width: 800px;
  height: 230px;
}
.letter__envelope::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
  border-top: 250px solid #ecdeb8;
  border-right: 400px solid transparent;
  border-left: 400px solid transparent;
  transform-origin: top;
  transition: all 0.5s ease-in-out 0.5s;
}
.letter__envelope::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0px;
  height: 0px;
  border-top: 230px solid transparent;
  border-right: 400px solid #e6cfa7;
  border-bottom: 200px solid #e6cfa7;
  border-left: 400px solid #e6cfa7;
}
.letter__content {
  position: absolute;
  left: 0;
  cursor: pointer;
  height: 350px;
  background: #fff;
  text-align: center;
  transition: all 0.8s ease-in-out;
  padding: 20px 10px;
  bottom: -120px;
}
.letter__wrapper.flap .letter__envelope::before {
  transform: rotateX(180deg);
  z-index: 0;
}
.letter__wrapper.flap {
  cursor: pointer;
}
.letter__wrapper.flap .letter__content {
  bottom: 0;
  transition-delay: 0.8s;
}
.letter__text {
  text-align: left;
  font-size: 10px;
}
.letter__text h3 {
  text-align: center;
}
.letter__text p {
  margin-top: 20px;
}
.letter__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s linear;
}
.letter__overlay.active {
  opacity: 1;
  pointer-events: initial;
  transition: all 0.3s linear;
}
.letter__popup {
  position: relative;
  background-color: #fff;
  padding: 100px 40px;
}
.letter__popup-close {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  right: -15px;
  top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.letter__popup-title {
  margin-bottom: 40px;
  text-align: center;
}
.letter__popup-text, .letter__popup-text p {
  font-size: 18px;
  text-align: justify;
  margin-bottom: 10px;
}

.footer {
  margin-top: 400px;
  background-color: #F4EFF3;
  height: 560px;
  overflow: hidden;
  position: relative;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__content-img {
  transform: rotate(180deg);
  position: absolute;
  height: 560px;
  left: 0;
  bottom: 0;
}
.footer__content-time {
  position: relative;
  margin-top: 120px;
}
.footer__content-time svg {
  width: 300px;
  height: 300px;
}
.footer__content-clock {
  position: absolute;
  top: 130px;
  left: 100px;
  font-size: 32px;
}
.footer__content-links {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
  gap: 300px;
}
.footer__follow-title, .footer__contact-title {
  font-weight: 300;
  margin-bottom: 40px;
}
.footer__follow-links, .footer__contact-links {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer__follow-link, .footer__contact-link {
  display: flex;
  gap: 20px;
  align-items: center;
}
.footer__follow-link--icon, .footer__contact-link--icon {
  width: 50px;
  height: 50px;
  background-color: #EDE6DE;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__follow-link--icon svg, .footer__contact-link--icon svg {
  width: 25px;
  height: 25px;
}